html, body{
    margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

/* WE NEED POIRET ONE, FUGAZ ONE FONT */
/* MAYBE BUNGEE INLINE, NOVA ROUND FONT */
/* SERIF SCHRIFT: SCOPE ONE FONT FÜR PARAGRAPHEN */
/* SANS SERIF: ROBOTO FONT FÜR PARAGRAPHEN */
/* #8484D3 is the AMY COLOR */


.grid-container-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

.grid-container-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.grid-item{

}

.centerFont{
    text-align: center;
}

.circle{
    border: 2px solid #9C9CF8;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 100px auto 20px auto;
    display:block;
    animation: fadeIn 1s ease-in-out forwards;
}

.matti{
    background-image: url('./_MG_2450.jpg');
    background-size: cover;
    background-position-y: 60%;
    transform: rotate(35deg);
}

.max{
    background-image: url('./MG_2468.jpg');
    background-size: cover;
    background-position-x: 60%;
}

.hr{
    height: 2px;
    width: 80%;
    background-color: #9C9CF8;
    margin: 0 auto;
    animation: wider 0.5s ease-in-out forwards;
}

.dark{
    background-color: #2D2D2D;
}

.header{
    animation: slideIn 0.5s 0.6s ease-in-out forwards;
    opacity: 0;
}

.mediumF{
    font-size: 20px;
}

.paragraphAnimate{
    animation: slideParagraphUp 0.5s 0.6s ease-in-out forwards;
    opacity: 0;
}

.tcolordb{
    color:#454576;
}

.tcolordlb{
    color:#6262A9;
}

.tcolorlb{
    color:#8484D3;
}

.tcolorllb{
    color:#9C9CF8;
}

.tcolorv{
    color:#945ED1;
}

.tcolorlv{
    color:#C79CF8;
}

.tcolorw{
    color:#FFF;
}

.tcolorb{
    color:#2D2D2D;
}

.primaryFont{
    font-family: 'Open Sans'
}

.primaryFontLight{
    font-family: 'Open Sans Light'
}

.secondaryFont{
    font-family: 'Fredoka One'
}

.item1{
    grid-column-start:1;
    grid-column-end: 4;
}


@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes slideIn{
    from{
        opacity:0;
        transform: translateX(-30px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}

@keyframes wider{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}

@keyframes slideParagraphUp{
    from{
        opacity:0;
        transform: translateY(50px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
    }
}